@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.App-header {
  height: 10vh;
  background: #eee;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: scale(1) translateY(0);
  }
  40% {
    transform: scale(1.25) translateY(-20px);
  }
  60% {
    transform: scale(1.125) translateY(-10px);
  }
}

.animated-marker {
  position: relative;
  transform: scale(1.5);
  animation-name: bounce;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  z-index: 5;
}
